.tablacontenedor{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color:var(--color-azul-oscuro)
}

h2{
    font-size: 30pt;
    color: var(--color-azul-oscuro);
    padding:1rem;
}
.tablacontenedor {
    padding: 20px;
  }
  
  .table {
    width: 100%;
    /* max-width: 900px; Puedes ajustar el ancho máximo según sea necesario */
    border-collapse: collapse;
    margin-top: 20px;

  }

  .table tr{
    border-bottom: 1px solid #ddd;
  }
  
  .table td {
  
    padding: 0.75rem;
    text-align: center;
  }
  
  .table th {
    flex:100%;
    border-bottom:2px solid var(--color-azul-oscuro);
    padding:1rem;
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }


  /* .table svg{
    color: var(--color-azul-oscuro);
    padding:0.5rem;
    size: 10rem;
  } */

  .iconos {
    display:flex;
    align-items: center;
    justify-content: center;
    color: var(--color-azul-oscuro);
    display: flex;
    gap: 1rem; /* Espacio entre los iconos */

  }
  
  .icono {
    font-size: 2rem; /* Tamaño de los iconos */
  }


/* ESTILOS PARA PAGINATION */

.pagination{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:2rem;
    margin:1rem;
    color:var(--color-azul-oscuro);
    font-size: 14pt;
    
}


.pagination span,
.pagination p{
    padding:0.5rem;
}


  button.btnsinestilo{
    background-color: white;
    color:var(--color-azul-oscuro);
    font-size: 3rem;
    
  
  }


  .spanstatus {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: var(--color-azul-oscuro);
    font-weight: bold;
    text-align: center;
    display: inline-block;
  }
  
  .sent {
    background-color:var(--color-estado-sent);
    border:1px solid var(--color-estado-sent-borde);
  }
  
  .pending {
    background-color:var(--color-estado-pending);
    border:1px solid var(--color-estado-pending-borde);
  }
  
  .paid {
    background-color:var(--color-estado-paid);
    border:1px solid var(--color-estado-paid-borde);
  }
  
  .error {
    background-color:var(--color-estado-error);
    border:1px solid var(--color-estado-error-borde);
  }
  
  .rejected {
    background-color:var(--color-estado-rejected);
    border:1px solid var(--color-estado-rejected-borde);
  }
  
  .btnError {
    background-color: var(--color-estado-error);
    border:2px solid var(--color-estado-error-borde);
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
    text-align: center; 
    font-size: 13pt;
    border-radius: 5px;
    color: var(--color-azul-oscuro);
    
    
  }
  
  .iconos {
    display: flex;
    gap: 1rem;
  }
  
  .icono {
    font-size: 2rem;
    cursor: pointer;
  }
  