:root {
  --color-azul-oscuro: #001b4b;
  --color-azul-claro: #005896;
  --color-azul-claro-plus: #308acc;
  --color-dorado: #c36e57;
  --color-verde: #6e8174;
  --color-dorado-oscuro: #9c8364;
  --color-gris-claro: #d1ccc9;
  --color-gris-oscuro: #676767;
  --color-gris-oscuro-plus: #333334;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Nunito Sans", sans-serif;
}

html,
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  min-width: 360px;
}

#contenedorglobal{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}



.body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

main#mainprincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

#cabeceramostrarprecios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0 2rem;
}

.botonpdf {
  display: block;
  color: white;
  padding: 1rem;
  border: solid 1px white;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-decoration: none;
}


#cabeceramostrarprecios{
  padding: 0 8%;
}

#contenedorBotonPDF {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem 2rem 0 2rem;
  background-color: var(--color-azul-oscuro);
}

#contenedorMain{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 750px) {
  #cabeceramostrarprecios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding:0 0;
  }
}
