:root {
  --color-azul-oscuro: #001b4b;
  --color-azul-claro: #005896;
  --color-azul-claro-plus: #308acc;
  --color-naranja-oscuro: #c36e57;
  --color-verde: #6e8174;
  --color-dorado-oscuro: #9c8364;
  --color-gris-claro: #d1ccc9;
  --color-gris-oscuro: #676767;
  --color-gris-oscuro-plus: #333334;
  --color-estado-paid:#6ADF92;
  --color-estado-paid-borde:#498D60;
  --color-estado-sent:#FFF5BF;
  --color-estado-sent-borde:#FFDB20;
  --color-estado-pending:#F0A03D;
  --color-estado-pending-borde:#C97814;
  --color-estado-error:#E4724E;
  --color-estado-error-borde:#8F2D0E;
  --color-estado-rejected:#C33266;
  --color-estado-rejected-borde:#721d3c;

  --color-estado-light-amarillo:#FFEFD1;
}

#root{
  display: flex;
  flex-direction: column;
  flex: 1 100%;
}


* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;
  border-collapse: collapse;
}



/* TIPOGRAFÍA, pendiente */


html,
body {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  margin: 0;
  /* min-width: 360px; */
  justify-content: center;
  align-content: center;
  
}

#contenedorglobal{
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  flex-direction: column;
}
main{
  display: flex;
  flex-direction: column;
  flex: 1 100%;
  padding:1rem;
  justify-content: center;
  align-items: center;
}


.body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
button{
  padding: 0.3rem 1.5rem;
  border: none;
  background-color: var(--color-azul-oscuro);
  border: none;
  border:white solid 1px;
  color: white;
  font-size: 18pt;
  font-weight: 600;
  /* border-radius: 15px; */
  text-transform: uppercase;
}


button:hover{
  background-color: var(--color-naranja-oscuro);
 
}


.links{
  color: #350E43;
}

.links:hover{
  color: #F2A516;
}


.errorSpan{
  color:tomato;
  font-size: 10pt;
  font-family: 'Courier';
  font-style: oblique;
  padding-left: 0.5rem;
  font-weight: bold;
}


.enlace{
  color: var(--color-azul-oscuro);
}

.enlace:hover{
  color: var(--color-naranja-oscuro);
}



ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}






#contenedorMain{
  display: flex;
  flex-direction: column;
}







@media screen and (max-width: 750px) {
  #cabeceramostrarprecios {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding:0 0;
  }
}
